$mdc-theme-primary: #00bcd4;
$mdc-theme-secondary: #f44336;
$mdc-theme-background: #e6e8ea;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #e8e8e8;

@import "closure-react-button/index.scss";
@import "@material/button/mixins";
@import "closure-react-top-app-bar/index.scss";
@import "closure-react-list/index.scss";
@import "closure-react-text-field/index.scss";
@import "@material/top-app-bar/mixins";
@import "./components/member-list/index.scss";

.button-alternate {
    @include mdc-button-container-fill-color(#4285f4);
}

// fix top app bar text color
.mdc-top-app-bar {
    @include mdc-top-app-bar-ink-color(on-primary);
}